body {
    background-color: #333;
}

.blue-line-bottom {
    border-bottom: solid 4px #1464e9;
}

.nav-container {
    padding-left: 0px !important;    
}

.no-round {
    border-radius: 0px !important;
}

#main-nav ul li a {
    margin-left: 20px;
    font-weight: bold;
}

#main-nav ul li a.active {
    margin-left: 20px;
    font-weight: bold;
    color: #1464e9;
}



.main-banner-item {
    width:100%;
    height: 600px;
    background-position: right;
}

.white-gradient-left {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to right, rgba(255,255,255,1) , rgba(255,255,255,0));
}

.small-genres {
    background-color: #000;
    color: #fff;
    display: inline;
    padding:3px 5px;
    font-size: 12px;;
}

.main-title {
    color:#000;
    font-weight: bolder;
    margin-top:7px;
    margin-bottom: 0px;;
}

.sub-title {
    color: #1464e9;
    font-weight: bolder;
    margin-top:0px;
}

.back-action {
    background-position: center;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
}

.carousel-action-icon {
    padding-top:8px;
}

.carousel-action-icon i {
    color: #fff;
}

.carousel-action-text span {
    color: #fff;
    font-size: 12px;
    padding-right: 19px;
    display: block;
}

.blue-overlay {
    background: hsla(217, 84%, 50%, 0.834);   
}

.dark-overlay {
    background: rgba(0,0,0,0.7);
}

.text-right {
    text-align: right;
}

.secondary-container {
    height: 3000px;
}

.the-best-title {
    font-size: 25px;
    padding-top: 0px;
}

.best-section-container {
    padding:20px 45px;
}

.the-best-of-category {
    padding-left: 0px;
    list-style: none;
    display: inline-block;
}

.the-best-of-category > li {
    float: left;
    margin-right: 6px;
}

.small-vertical-card {
    margin-bottom: 30px;;
}

.small-vertical-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.small-vertical-card small {
    color:#1464e9;
    font-size: 12px;
}

.small-vertical-card h1 {
    color:#000;
    font-size: 16px;
}

.small-vertical-card h1 a {
    color:#000;
    font-size: 16px;
    text-decoration: none;
}

.small-vertical-card span {
    color:#000;
    font-size: 12px;
}

.small-vertical-card h4 {
    color: #eee;
    font-size: 15px;
    text-align: center;
    padding-top: 7px;
    font-weight: bold;
    margin-bottom: 0px;
}

.small-vertical-card p {
    color: #eee;
    font-size: 11px;
    text-align: center;
    padding-top: 3px;
    margin-bottom: 11px;
}

.watching-box {
    padding-right: 2px !important;
    padding-bottom: 5px;
}

.episode-box {
    padding-left: 2px !important;
    padding-bottom: 5px;
}


.active-star {
    color: rgb(255, 184, 18);
}

.latest-episodes-container {
    padding-top: 40px;
}

.latest-episodes-container h2 {
    font-size: 25px;
    padding-top:0px;
    margin-bottom: 30px;
}

.small-horizontal-card img {
    width: 100%;
    height: 90px;
    object-fit: cover;
}

.small-horizontal-card h1 {
    font-size: 18px;
    color: #000;
    margin-bottom: 0px;
}

.small-horizontal-card h1 a {
    text-decoration: none;
    color: #000;
}

.small-horizontal-card h3 {
    font-size: 16px;
    color: #666;
    margin-bottom: 3px;
}

.small-horizontal-card span {
    font-size: 14px;
    color: #1464e9;
    margin-bottom: 3px;
}

.small-horizontal-card .col-8 {
    padding-top: 10px;
    padding-right: 35px;;
}

.small-horizontal-card {
    margin-bottom: 10px;;
}

.float-right {
    float: right;
}

.new-container h2 {
    font-size: 25px;
    margin-bottom:30px;
}

.big-horizontal-card {
    margin-bottom: 15px;
}

.big-horizontal-card img {
    width: 100%;
    height: 220;
    object-fit: cover;
}

.big-horizontal-card small {
    color: #666;
    font-size: 12px;
}

.big-horizontal-card h3 {
    color: #000;
    font-size: 21px;
    font-weight: bold;
}

.big-horizontal-card a {
    font-size: 11px;
}


.big-horizontal-card p {
    color: #000;
    font-size: 12px;
    margin-bottom: 0px;
}

.latest-trailer-container h2 {
    font-size: 25px;
    margin-bottom:30px;
}

.small-horizontal-card-video .thumb {
    width: 100%;
    height: 100px;
    text-align: center;
}

.small-horizontal-card-video img {
    height: 40px;
    margin-bottom:-45%;
}

.small-horizontal-card-video h3 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 0px;
}

.small-horizontal-card-video p {
    font-size: 14px;
    color: #666;
    margin-bottom: 0px;
}

.small-horizontal-card-video span {
    font-size: 12px;
    color: #666;
    margin-bottom: 0px;
}

.small-horizontal-card-video a {
    font-size: 12px;
    color: #1464e9;
    margin-bottom: 0px;
    margin-left: 10px;
    text-decoration: none;
}

.small-horizontal-card-video {
    margin-bottom: 10px;
}

footer {
    background-image: url('../img/footer-bg.jpg');
    min-height: 160px;
    background-position: center;
    background-size: 100%;
}

@media only screen and (max-width: 770px) {
    footer {
        background-image: url('../img/footer-bg-square.jpg');
        min-height: 160px;
        background-position: center;
        background-size: 100%;
    }
  }

.footer-layer {
    background: hsla(0, 0%, 0%, 0.85);
    min-height: 160px;
}

.footer-nav {
    padding-left: 10px;
    margin-top:8px;
}

.footer-nav li {
    display: inline;
}

.footer-nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-right: 40px;
}

.genres-directory {
    padding-bottom: 30px;
}

.genres-directory h2 {
    font-size: 25px;
    color: #000;
    margin-bottom: 0px;
    margin-top:15px;   
}

.genre-card {
    border: solid 1px #000;
    padding: 5px 10px;
    font-size: 13px;
    margin-bottom: 10px;
}

.detail-anime h1 {
    font-size: 25px;
    margin-bottom: 0px;
    color:#000;
}

.detail-anime h4 {
    font-size: 20px;
    margin-bottom: 0px;
    color:#000;
}

.detail-anime .score-label {
    background-color: rgb(255, 184, 18);
    padding:3px 5px;
    font-size: 13px;
    color:#000;
}

.detail-anime .star-score-avg {
    color: #000;
    font-size: 26px;
    margin-bottom: 0px;
    font-weight: bold;
}

.detail-anime hr {
    margin: 5px;
}

.detail-anime .rating-col small {
    color: #666;
    font-size: 13px;
}

.detail-anime h3 {
    margin-bottom: 0px;
    font-size: 20px;
    color:#000;
    margin-top:10px;
    font-weight: normal;
}

.detail-anime h4 {
    margin-bottom: 0px;
    font-size: 20px;
    color:#000;
    font-weight: normal;
}

.detail-anime p {
    margin-bottom: 10px;
    font-size: 13px;
    color:#000;
    font-weight: normal;
}

.detail-anime .info-points li {
    font-size: 13px;
    color:#000;
    font-weight: normal;
}

.anime-review-card {
    background-color: #dedede;
    margin: 15px 0px;
    padding: 15px;
}

.anime-review-card .col-1 {
    padding-right: 0px !important;
}

.anime-review-card .time-ago {
    font-size: 11px;
    float: right;
}

.anime-review-card img {
    height: 40px;
    width: 40px;
    object-fit: cover;
}
.anime-review-card h4 {
    font-size: 13px;
    font-weight: bold;
    color: #000;
    margin-bottom: 0px;
}

.anime-review-card .text-secondary {
    font-size: 13px;
}

.anime-review-card .user-picture-comment {
    height: 50px;
    width: 50px;
    object-fit: cover;
    float: left;
    margin-right: 10px;
}

.anime-review-card .rating i {
    font-size: 12px;
    margin-top: -3px;
}

.detail-news .article-banner {
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.detail-news h1 {
    font-size: 27px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    margin-top:10px;
}

.detail-news span {
    font-size: 13px;
    font-weight: bold;
    color: #666;
}

.detail-news p {
    font-size: 13px;
    font-weight: normal;
    color: #000;
}

.detail-news h3 {
    font-size: 22px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    margin-top:10px;
}